.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu {
  height: 9rem;
  background: $color-white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  @include respond(tab-port) {
    display:none;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    img {
      height: 5rem;
    }
  }

  nav ul {
    display: flex;

    a {
      color: $color-darker;

      &:hover {
        cursor: pointer;
        color: $color-primary;
      }
    }

    li {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 400;
      transition: all 0.1s cubic-bezier(0.42, 0, 0.35, 0.78);
      color: $color-darker;

      > a {
        display: flex;
        align-items: center;
      }

      &:hover {
        cursor: pointer;
        color: $color-primary;
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }

    i {
      font-size: 2.3rem;
    }
  }
}

.nav-link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-dark;
  }

  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}

/**
* Menu Dropdown
*/
.dropdown-active {
  &:hover {
    display: block;
  }
}

.dropdown {
  display: none;
  flex-direction: column;
  background-color: rgba($color-white, 0.95);
  border-radius: 1rem;
  padding: 1.5rem;
  position: absolute;
  margin-top: 5.5rem;
  color: $color-dark;
  transition: ease-in 3s;

  & li a {
    padding: 1rem;
    color: $color-darker;
    font-size: 1.75rem;
    font-weight: 400;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.35, 0.78);

    &:hover {
      background-color: rgba($color-primary, 0.1);
      border-radius: 0.5rem;
      cursor: pointer;
      color: $color-primary;
    }
  }
}

.mobile {
  &__checkbox {
    display: none;
  }

  &__btn {
    &--icon {
      color: $color-primary;
    }

    display: none;
    background-color: $color-white;
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 3rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-primary, 0.3);
    text-align: center;
    cursor: pointer;

    > svg {
      margin-top: 1rem;
    }

    @include respond(tab-port) {
      display: block;
    }
  }

  &__header {
    position: relative;
    &--photo {
      display: block;
      position: absolute;
      width: 50%;
      /*border-radius: 50%;*/
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 9rem;
    }

    &--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      display: block;
      margin-top: 15rem;
      font-size: 1.65rem;
      color: $color-primary;
    }
  }

  &__menu {
    display: none;
    background-color: $color-white;
    box-shadow: 0 2rem 10rem rgba($color-black, 0.3);
    height: 100vh;
    float: Right;
    width: 26rem;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1500;
    overflow-y: scroll;
    transition: all 0.8s;
  }

  &__list {
    list-style: none;
    margin: 17rem 0;
    padding: 2rem;
  }

  &__dropdown {
    list-style: none;
    padding: 2rem;
    display: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }

    &--icon {
      margin-right: 1rem;
      color: $color-primary;
    }

    &--link {
      @include removeLink;
      color: $color-darker;
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      > svg {
        margin-right: 1rem;
      }
    }
  }

  &__checkbox:checked + &__menu {
    @include respond(tab-port) {
      display: block;
      animation: side_in_menu 0.8s;
    }
  }
}
