.intro-areaCliente{
  margin-top: 8rem;
  height: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;

  background: #f26425;
  background: -webkit-linear-gradient(
    to right,
    #f26425,
    #ed8f03
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f26425,
    #ed8f03
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  p {
    color: #fff;
    font-size: 4rem;

  }
  &__description {
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
  }
}

.area-cliente {
  background: #fcfcfc;
  padding: 10rem;

  p {
    text-align: center;
    font-size: 3rem;
    color: #777;
    margin-bottom: 5rem;
  }
}

.teste-velocidade {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-left: $color-primary 2px solid;

    width: 40%;
    padding: 3rem;
    // box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: all 0.5s;

    margin-bottom: 2rem;
      margin-right: 1rem;

    &:hover {
      box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-left: 1rem;
      color: #777;
      font-size: 1.5rem;
    }

    span {
      color: $color-primary;
      font-size: 1.5rem;
    }
  }
}
