.nossos-planos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -35rem;

  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
  }
}

