// pacotes internet banda larga residencial
.plan {
  padding: 5rem;
  // background-color: rgba(253,109,104,1);
  // background-image: -webkit-linear-gradient(150deg, rgba(248,71,38,0.8) 35%, rgba(255, 255, 255, 0.8) 35%);
  min-height: 400px;


  &__content {
    background: #fff;
    height: 100%;
    margin: 0 auto;
    box-shadow: 6px 9px 15px -8px rgba(0,0,0,0.75);
  }

  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
  }

  &__title {
    background-image: linear-gradient(
      103.3deg,
    rgba(253,109,104,1) 7.7%,
    rgba(248,71,38,0.8) 90.8%
    );
    padding: 2rem;
    margin-left: -6rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    width: 18rem;
    box-shadow: 1rem 1rem 3rem rgba($color-primary, 0.35);

    h3 {
      color: $color-white;
      font-weight: 500;
      font-size: 3rem;
      line-height: 3rem;
    }

    span {
      color: $color-white;
      font-weight: bold;
      font-size: 3.5rem;
      display: block;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    color: $color-dark;
    font-family: "Roboto", sans-serif;

    &--white {
      color: $color-dark;
    }

    &--black {
      color: $color-dark;
    }
  }

  &__btnBox {
    padding: 1rem 4rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
  }
}

.paraVoce {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: #f7f7f7;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
  }

  &__text {
    width: 35%;

    @include respond(tab-port) {
      width: 100%;
      padding: 5rem;
    }

    h2 {
      color: $color-primary;
      font-size: 6rem;

      @include respond(tab-port) {
        font-size: 5rem;
      }

      @include respond(phone) {
        font-size: 4rem;
      }
    }

    p {
      color: $color-darker;
      font-size: 3rem;

      @include respond(tab-port) {
        font-size: 2.5rem;
      }

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      color: $color-darker;
      font-size: 2rem;
      margin-bottom: 2rem;

    }
  }

  img {
    height: 50rem;

    @include respond(tab-port) {
      height: 35rem;
    }

    @include respond(phone) {
      height: 27rem;
    }
  }
}

.paraSua-empresa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: #fff;
  // background-image: linear-gradient(
  //   103.3deg,
  // rgba(253,109,104,1) 7.7%,
  // rgba(248,71,38,0.8) 90.8%
  // );

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    height: unset;
  }

  &__text {
    text-align: right;
    margin: 0 2rem;

    @include respond(tab-port) {
      text-align: center;
      margin: 10rem 2rem;
    }

    h2 {
      color: $color-primary;
      font-size: 6rem;

      @include respond(tab-port) {
        font-size: 4rem;
      }
    }

    p {
      color: $color-darker;
      font-size: 3rem;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;

      @include respond(tab-port) {
        width: 100%;
        height: 50%;
      }
    }
  }
}
