//estilizacao do formulario
.form {
  padding: 5rem;

  @include respond(tab-land) {
    padding: 3.8rem 2rem;
  }

  @include respond(tab-port) {
    padding: 3.8rem 2rem;
  }

  &__group {
    > span {
      font-size: 1.5rem;
      color: $color-error;
      font-weight: bold;
    }

    .msg-sucess {
      font-size: 1.5rem;
      color: $color-success;
      font-weight: bold;
    }
  }

  &__group {
    margin-bottom: 1.3rem;

    @include respond(phone) {
      width: 100%;
    }
  }

  .group-width {
    width: 100%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__input {
    font-family: inherit;
    color: $color-dark;
    padding: 1.8rem 1.3rem;
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: rgba(#e5e5e5, 1);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 90%;
    display: block;
    font-weight: 600;

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
      border-bottom: 0.3rem solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-error;
    }
  }

  &__selectCity {
    font-family: inherit;
    color: $color-dark;
    padding: 1.8rem 1.3rem;
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: rgba(#e5e5e5, 1);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 50%;
    display: block;
    font-weight: 600;
    margin: auto;

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
      border-bottom: 0.3rem solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-error;
    }
  }

  &__label {
    margin: 0.6rem 1.3rem;
    display: block;
    font-size: 1.6rem;
    color: $color-primary;
    transition: all 0.3s;
    font-weight: 600;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }

  &__selectState {
    font-family: inherit;
    color: $color-dark;
    padding: 1.8rem 1.3rem;
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: rgba(#e5e5e5, 1);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 100%;
    display: block;
    font-weight: 600;
    margin: 5em 0 5em 0;

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
      border-bottom: 0.3rem solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-error;
    }
  }

  &__label {
    margin: 0.6rem 1.3rem;
    display: block;
    font-size: 1.6rem;
    color: $color-primary;
    transition: all 0.3s;
    font-weight: 500;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }
}

.form-box {
  display: flex;
  flex-direction: row;

  @include respond(tab-port) {
    display: flex;
  flex-direction: column;
  }
}
