.mt-small {
  margin-top: 2rem;
}

.mt-middle {
  margin-top: 5rem;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-middle {
  margin-bottom: 5rem;
}

.mt-big-carousel {
  margin-top: 8rem !important;
  @include respond(tab-port) {
    margin-top: 0 !important;
  }
}

.mt-bigger {
  margin-top: 15rem !important;
}

.mb-big {
  margin-top: 8rem !important;
}

.mt-12 {
  margin-top: -12rem !important;
}

.mt-12-not-mobile {
  margin-top: -12rem !important;

  @include respond(tab-port) {
    margin-top: 0 !important;
  }
}

.ml-small {
  margin-left: 3rem;
}

.no-transparent {
  background-color: $color-primary !important;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.h-desk {
  @media only screen and (min-width: 900px) {
    display: none;
  }
}
